:root {
    --white_A700_7f: #ffffff7f;
    --gray_400: #b1b1b1;
    --deep_orange_A200: #ff5a3d;
    --gray_500: #a7a7a7;
    --blue_gray_100: #d9d9d9;
    --white_A700_3f: #ffffff3f;
    --deep_orange_A200_33: #ff5a3b33;
    --red_500: #ff3030;
    --gray_200: #ececec;
    --black_900_3f: #0000003f;
    --gray_100: #f3f3f3;
    --red_100: #f3cece;
    --black_900: #000000;
    --blue_gray_900: #0b2c3d;
    --white_A700: #ffffff;
    --red_500_99: #ff2f2f99;
    --black_900_26: #00000026;
    --black_900_59: #00000059;
}